.sideBarTextColor {
  color: white;
}

.navBG {
  background-color: #514392;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #514392;
}

.spinner img {
  background-color: #514392;
}

.hrColor {
  border-top: 1.5px solid #514392;
}

#bgcolor {
  background-color: #6e5cc2;
}

/* .side__bar {
  height: auto;
  padding-bottom: 50px;
  padding-right: 30px;
} */

.content {
  display: flex;
  align-items: center;
}

/* .background_color {
        background-color: #9278ff;
        height: 100vh;
      }
      .backgroundColor {
        background-color: #e5e5e5;
        height: 100vh;
      } */

.navbar-nav > li {
  padding-left: 10%;
  padding-right: 10%;
}

/* .app-container {
  display: flex;
}
.left {
  background-color: #9278ff;
  margin-right: auto;
  width: 20%;
}

.right {
  background-color: #e5e5e5;
  width: 80%;
  height: 91vh;
  margin-left: auto;
} */
